.wrap_page{
    width: 1226px;
    // background: pink;
    margin: 0 auto;
    margin-top: 28px;
}

body,html{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
}
// // .container{
// // width: 1226px;
// // margin-left: auto;
// // margin-right: auto;
// // background: red;

// // }

// body,html{
//     width: 100%;
//     height: 100%;
// }
// .wrap {
//     min-width: 1920px;
// }

// footer
